@model string[]

@{ Layout = null;}

<!DOCTYP html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>my views</title>
    </head>
<body>
    @foreach (string item in Model)
    {
        <span>@item</span>
    }
</body>
</html>

